/*--- ICON FONT ---*/
@font-face {
    font-family: 'iconFont';
    src: url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e900";
    color:#00A9EC;
}
.icon-shield:before {
    content: "\e901";
    color:#009F45;
}
.icon-message:before {
    content: "\e902";
    color:white;
}
.icon-lock:before {
    content: "\e903";
    color:#A7A7A7;
}
.icon-google:before {
    content: "\e904";
    color:#DB4639;
}
.icon-facebook:before {
    content: "\e905";
    color:white;
}
.icon-arrow-right:before {
    content: "\ea3c";
    color:white;
}

/*--- MAIN CLASSES ---*/
body{
    font-family: 'OpenSans';
    background-color: #999999;
}
a{
     text-decoration: none!important;

}
.container{
    background-color: white;
    padding:0;
}
.float-cleaner{
    clear: both;
}
.right-side{
    margin: 0;
    width: 50%;
    float: right;
}
.left-side{
    margin: 0;
    width: 50%;
    float: left;
}
.hidden-block{
    overflow: hidden;
}
.one-line{
    white-space: nowrap;
}
/*--- HEADER ---*/
.page-header-block{
    position:relative;
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    height:643px;
}
.page-header-block .header-button-block{
    position:absolute;
    bottom:50px;
    left:50px;
}
.page-header-block .header-button-block a{
    font-size:23px;
    text-decoration: none;
    color:white;
    border:2px solid #00A9EC;
    padding:10px 20px;
    background-color: #00A9EC;
}
.page-header-block .header-button-block .header-price{
    padding-bottom: 10px;
    color: white;
    font-size: 50px;
    font-weight:bold;
}
.page-header-block .header-button-block .header-description{
    padding-top: 10px;
    font-size: 10px;
    color:white;
}
/*--- SUB-HEADER CLASS ---*/
.sub-header-block{
    background-color: black;
}
.sub-header-element{
    float: left;
    width: 33%;
    padding: 15px;
}
.sub-header-element h4{
    margin-bottom: 0;
    color: #008197;
}
.sub-header-element p{
    color: #77807A;
}
/*--- MAIN CONTENT ---*/
.content h3{
    color: #36393E;
    text-align: center;
}
.content h4{
    color:#00B1E6;
}
.content p{
    color:#595946;
    line-height: 150%;
    font-size:16px;
}
.content .left-side{
    padding:10px;
}
.content .right-side{
    padding:10px 20px 10px 10px;
}
.content img{
    width: 100%;
}
/*--- CONTENT FIRST BLOCK ---*/



/*--- CONTENT SECOND BLOCK ---*/
.content-form .checkbox-line{
    padding-left:20px;
}
.content-form .form-button{
    padding-top: 0;
    text-align: center;
    width: 50%;
    float:left;
}
.content-form .form-button input[type=submit]{
    padding:10px 30px;
    color:white;
    font-size:18px;
    font-weight: 700;
    background-color: #00B1E6;
    border-color:#00B1E6;
}
.content-form .form-description{
    padding-top:6px;
    text-align: left;
    padding-left: 20px;
    width: 50%;
    float:right;
}
.content-form .form-description .top-level{
    font-size: 25px;
    font-weight: 700;
}
.content-form .form-description .middle-level{
    color:#7A7A7A;
    font-size:8px;
    font-weight: 700;
}
.content-form hr{
    width:90%;
    margin:20px auto;
    border-color:grey;
}

/*--- CONTENT FOURTH (4TH) BLOCK ---*/
.content .gallery-block{
    width: 396px;
    margin:40px auto;
}
.content .gallery-block img{
    width: auto;
}
.content .gallery-left-side{
    float:left;
    width:240px;
}
.content .gallery-left-side img{
    text-align: center;
    margin:2px;
}
.content .gallery-right-side{
    float:left;
    width:150px;
}
/*--- FOOTER ---*/
.footer-block{
    background-color: black;
}
.footer-block .footer-right-side{
    color:white;
}
.footer-block .footer-right-side p{
    margin-bottom:0;
    line-height: 150%;
    font-size:16px;
}
.footer-block .footer-left-side{
    margin:0;
    padding:15px;
    width:35%;
    float:left;
}
.footer-block .footer-left-side-block{
    position: relative;
    background-color: white;
    border:5px solid #01B1E3;
}
.footer-block .footer-left-side-block img.form-logo{
    width: 25%;
    position: absolute;
    top:10px;
    right:10px;
}
.footer-block .footer-left-side-block h2{
    margin-top:0;
    margin-left:10px;
    font-weight:700;
}
.footer-block .footer-left-side-block h3{
    margin-top:10px;
    margin-left:10px;
    color:#01B1E3;
}
.footer-block .footer-left-side-block h4{
    margin-left:10px;
}
.footer-block .footer-left-side-block h5{
    margin-left:10px;
    text-decoration: line-through;
    font-weight:700;
    color:#01B1E3;
}
.footer-block .footer-left-side-block h6{
    margin-left:10px;
    color:#01B1E3;
    font-weight:700;
}
.footer-block .footer-left-side-block form{
    margin-left:10px;
    margin-bottom:10px;
}
.footer-block .footer-left-side-block form select{
    padding:5px 30px 6px 10px;
}
.footer-block .footer-left-side-block form input[type=submit]{
    margin-left:-5px;
    padding:5px 10px;
    color:white;
    font-weight:700;
    border-color:black;
    background-color: black;
}
.footer-block .images-row{
    padding-top:10px;
    padding-bottom:30px;
}
.footer-block .images-row .left-img{
    text-align: left;
}
.footer-block .images-row .middle-img{
    text-align: center;
}
.footer-block .images-row .right-img{
    text-align: right;
}
.footer-block .images-row .images-row-element{
    width:33%;
    float:left;
}
.footer-block .footer-right-side{
    margin:0;
    padding:15px;
    width:65%;
    float:right;
}
.footer-block .footer-line-block{
    padding-top:10px;
    padding-bottom:10px;
    background-color: #01B1E3;
    color:white;
}
.footer-block .footer-line-block .footer-line-element{
    margin: 0;
    width:25%;
    float:left;
    font-size:22px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    /*--- CONTENT ---*/
    /*--- CONTENT FIRST BLOCK ---*/
    .content .first .left-side img{
        margin-top:30px;
    }
    /*--- CONTENT THIRD BLOCK ---*/
    .content .third .left-side img{
        margin-top:85px;
    }
    /*--- CONTENT FOURTH BLOCK ---*/
    .content .gallery-block{
        margin-top:60px;
    }
    /*--- FOOTER ---*/
    .footer-block .footer-left-side-block form select{
        margin: -5px;
        margin-top:20px;
        width:100%;
    }
    .footer-block .footer-left-side-block form input[type=submit]{
        margin-top:15px;
        width: 100%;
    }
}
/*--- SECOND PAGE ---*/
.second-page-left-side{
    margin:0;
    width:50%;
    float:left;
}
.second-page-right-side{
    margin:0;
    width:50%;
    float:right;
}
.right-text-align{
    text-align: right;
}
.grey-block{
    padding:0 5px 10px 10px;
    background-color: #F6F6F6;
    color:#606060;
}
.close-button{
    cursor:pointer;
    color:#C5C8CD;
}
.close-button:hover{
    color:#333333;
}
.close-button:active{
    color: #7c0d0e;
}
.block-description{
    color:#3D3D3D;
    font-weight:700;
}
.second-page-content .form-description{
    display: inline-block;
    min-width:125px;
    width:20%;
}
/*--- HEADER ---*/
.second-page-header{
    position: relative;
    padding:20px;
    background-color: black;
    color:white;
    font-weight:700;
    text-align: right;
}
.second-page-header-logo{
    color: white;
    float:left;
}
.second-page-header .blue-color{
    color:#005F87;
    font-weight: 500;
}
/*--- CONTENT ---*/
.second-page-content{
    padding:20px;
}
.second-page-content h2{
    font-weight: 700;
}
.second-page-content .second-page-left-side,
.second-page-content .second-page-right-side{
    padding-top:5px;
    padding-bottom:5px;
}
.second-page-content .first-form{
    padding-top:5px;
}
.second-page-content .first-form input[type=button]{
    padding:2px 20px;
    border:1px solid black;
    border-radius:2px;
    color:white;
    background-color: black;
}
.second-page-content .second-form{
   padding-left:9px;
}
.second-page-content .form-line{
    padding:5px 0;
}
.second-page-content input[type=text],
.second-page-content select{
    border:1px solid #CDCDCD;
    padding:2px 5px;
    width: 189px;
}
.second-page-content .submit-block .summ,
.second-page-content .submit-block .amount{
    color:#3D3D3D;
    font-weight: 900;
}
.second-page-content .submit-block .amount{
    padding-left:10px;
    padding-right:20px;
}
.second-page-content .submit-block input[type=submit]{
    padding: 5px 50px;
    color: white;
    font-weight: 900;
    background: #01B1E3;
    border: 1px solid #01B1E3;
    border-radius: 3px;
}
.second-page-content .submit-block .submit-description{
    color:#3D3D3D;
    font-size:12px;
    padding:10px 0;
}
.second-page-footer{
    background-color: black;
    padding: 10px 10px 0 10px;
}
.second-page-footer .footer-left-side{
    width:40%;
    float:left;
}
.second-page-footer .footer-middle-side{
    width:20%;
    float:left;
}
.second-page-footer .footer-right-side{
    width:40%;
    float:left;
}
.second-page-footer .footer-block-description{
    font-weight:900;
    color:white;
    font-size:18px;
}
.second-page-footer .footer-left-side p{
    color: #bbbbbb;
    padding: 2px 10px;
    font-size: 15px;
}
.second-page-footer .footer-middle-side a{
    text-decoration: none;
}
.second-page-footer .faceBook-share {
    background-color: #4B64B3;
    padding: 3px 5px;
    border-radius: 3px;
    color:white;
}
.second-page-footer .twitter-share{
    background-color: white;
    padding: 3px 5px;
    border-radius: 3px;
    color:#3A3A3A;
}

.second-page-footer .google-share{
    background-color: white;
    padding: 3px 5px;
    border-radius: 3px;
    color:#DB4639;
}
.second-page-footer .google-share .google-amount{
    font-weight:900;
}
.second-page-footer .some-description{
    padding-top:10px;
    padding-bottom:10px;
}
.second-page-footer .some-description .text-description{
    color:#A7A7A7;
}
.second-page-footer .some-description .letter-line{
    background-color: #21B3E7;
    padding: 3px 5px;
    border-radius: 3px;
    color:white;
}
.second-page-footer .voice-amount {
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    position: relative;
    color: #515776;
    margin-left:5px;
}
.second-page-footer .voice-amount::after {
    content: '';
    position: absolute;
    left: -9px;
    bottom: 7px;
    border: 5px solid transparent;
    border-right: 5px solid white;
}
@media screen and (max-width: 992px){
    /*--- CONTENT ---*/

    /*--- CONTENT FIRST BLOCK ---*/
    .content .first .left-side img{
        margin-top:100px;
    }
    /*--- CONTENT SECOND BLOCK ---*/
    .content .second .right-side img{
        margin-top:60px;
    }
    /*--- CONTENT THIRD BLOCK ---*/
    .content .third .left-side img{
        margin-top:170px;
    }
    /*--- CONTENT FOURTH BLOCK ---*/
    .content .gallery-block{
        margin-top:120px;
    }
    /*--- FOOTER ---*/
    .footer-block .footer-line-block{
        padding-top:0;
    }
    .footer-block .footer-line-block .footer-line-element{
        width:50%;
        padding-top: 10px;
    }
}
@media screen and (max-width: 768px){
    /*--- HEADER ---*/
    .page-header-block{
        height:320px;
    }
    .page-header-block .header-button-block{
        top:10px;
        bottom:10px;
    }
        /*--- CONTENT FIRST BLOCK ---*/
    .content .first .left-side img{
        margin-top:0;
    }
    /*--- CONTENT SECOND BLOCK ---*/
    .content-form .form-button,
    .content-form .form-description{
        width: 50%;
        float:left;
        text-align: right;
    }
    .content-form .form-description{
        text-align: left;
    }
    /*--- CONTENT THIRD BLOCK ---*/
    .content .third .left-side img{
        margin-top:0;
    }
    /*--- CONTENT FOURTH BLOCK ---*/
    .content .gallery-block{
        margin-top:0;
    }
    /*--- FOOTER ---*/
    .footer-block .footer-left-side-block form select{
        margin: 0;
        width:auto;
    }
    .footer-block .footer-left-side-block form input[type=submit]{
        margin-top:0;
        width: auto;
    }
    .content .gallery-block{
        margin:10px auto;
    }
    .sub-header-element{
        width:100%;
    }
    .right-side, .left-side{
        width: 100%;
    }
    .content .right-side{
        padding:10px;
    }
    .footer-block .footer-line-block .footer-line-element {
        width: 100%;
    }
    .footer-block .footer-left-side,
    .footer-block .footer-right-side {
        width: 100%;
    }
    /*--- SECOND PAGE ---*/
    /*--- CONTENT ---*/
    .second-page-right-side.submit-block{
        width:100%;
    }
    /*--- FOOTER ---*/
    .second-page-footer .footer-left-side{
        width:100%;
    }
    .second-page-footer .footer-middle-side{
        padding-left:10px;
        padding-bottom:10px;
        width:30%;
    }
    .second-page-footer .footer-right-side{
        padding-bottom:10px;
        width:70%;
    }
}
@media screen and (max-width: 420px){
    .footer-block .footer-left-side-block form select{
        margin: -5px;
        margin-top:20px;
        width:100%;
    }
    .footer-block .footer-left-side-block form input[type=submit]{
        margin-top:15px;
        width: 100%;
    }

    /*--- SECOND PAGE FOOTER ---*/
    .second-page-footer .footer-middle-side,
    .second-page-footer .footer-right-side{
        padding-left:10px;
        width:100%;
    }
}